extends layout

block content
  h1= title   
  p#subtitle
    Strong Navigation : 
  p 
    |  - About : Information sur le projet
    a(href='about') About
  p 
    |  - Client : Consulter les donnée des clients
    a(href='client') Client
  p 
    |  - Data : Mettre à jour la base de donnée client
    a(href='data') Data

